body {
    margin: 0 auto;
    margin-top: 30px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.input1 input {
    width: 258px;
    height: 34px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    padding-left: 8px;
    padding-top: 3px !important;
}
input::placeholder {
    color: #8e8e8e;
}

.input2 input {
    width: 258px;
    height: 34px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    padding-left: 8px;
    margin-top: 6px;
    /* padding-top: 2px !important; */
}

.button {
    width: 270px;
    height: 28px;
    background-color: #B2DFFC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 14px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 2px;
}

input:focus {
    outline: none;
}
label {
    position:relative;
    display:inline-block;
  }
    
  span {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  .span2 {
      padding-top: 16px;
  }
  input:focus + span, input:not(:placeholder-shown) + span {
    opacity:1;
    transform: scale(0.75) translateY(-25%) translateX(-30px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8e8e8e;
    padding-bottom: 30px !important;
  }

  input:focus + .span2, input:not(:placeholder-shown) + .span2 {
    opacity:1;
    transform: scale(0.75) translateY(-25%) translateX(-10px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8e8e8e;
    padding-bottom: 30px !important;
  }
  
  /* For IE Browsers*/
  input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
  }

  .or {
      display: flex;
      justify-content: center;
  }
  .text > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #8e8e8e;
}
  .line {
      width: 106.5px;
      height: 1px;
      background-color: #dbdbdb;
      margin-top: 21px;
  }

  .line1 {
      margin-right: 15px;
  }

  .line2 {
      margin-left: 15px;
  }

  .fb {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .fb > img {
      width: 5%;
  }

  .fb > a {
      display: inline;
      margin-left: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #385185;
      font-size: 14px;
      font-weight: 600;
  }

  .pass {
      display: flex;
      justify-content: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 12px;
      color: #385185;
      margin-top: -5px;
  }

  .sign {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  }
  
  .sign > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .sign > a {
      margin-left: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #0095f6;
      font-size: 14px;
      font-weight: 600;
  }

  .app {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin-top: 9px;
  }

  .blue {
      background-color: #0095F6;
  }

  .store {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      max-width: 85%;
      margin: 0 auto;
      margin-top: 10px;
  }

  .store > .img {
      width: 45%;
  }

  .nav {
      display: flex;
      flex-direction: column;
      max-width: 80%;
      margin: 0 auto;
      margin-top: 40px;
  }

  .top {
      display: flex;
      justify-content: space-evenly;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #8e8e8e;
  }

  .bottom {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
  }